# --------------------------
# Python
# --------------------------
__pycache__/
*.py[cod]
*.so
*.egg-info/

# --------------------------
# Jupyter Notebook
# --------------------------
.ipynb_checkpoints/

# --------------------------
# Virtual Environments
# --------------------------
.venv/
venv/
env/
ENV/
.env

# --------------------------
# Dataset / Large Files
# --------------------------
dataset/
*.h5
*.ckpt

# --------------------------
# Logs / Temp Files
# --------------------------
*.log
*.tmp
*.swp

# --------------------------
# OS-specific files
# --------------------------
.DS_Store
Thumbs.db
desktop.ini

# --------------------------
# IDE / Editor folders
# --------------------------
.vscode/
.idea/

# --------------------------
# Others
# --------------------------
.ruff_cache/
